__pycache__
game.py

.DS_Store

*.mov
/src/build/*
/docs/gradient_images/*
!/docs/gradient_images/FOREST.png
!/docs/gradient_images/SEA.png
!/docs/gradient_images/LAND.png
!/docs/gradient_images/CITY.png
!/docs/gradient_images/ICE.png